www.israelveiculos.com.br {
    redir https://israelveiculos.com.br{uri} permanent
}

israelveiculos.com.br {
    reverse_proxy app:3000

    handle_path /uploads/* {
        root * /srv/uploads
        file_server
    }
}
