@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 255, 255, 255;
  --primary-color: 0, 31, 84; /* Israel Veículos Blue #001F54 */
  --accent-color: 220, 38, 38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 249, 250, 251;
    --background-start-rgb: 17, 24, 39;
    --background-end-rgb: 31, 41, 55;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
